.mat-table {
    width: 100%;

    th.mat-header-cell {
        font-size: 1.5em;
        font-weight: bold;
    }

    tr.first {
        background-color: gold;

        td {
            font-size: 1.75em;
            font-weight: 900;
        }
    }

    tr.second {
        background-color: silver;

        td {
            font-size: 1.5em;
            font-weight: 700;
        }
    }

    tr.third {
        background-color: orange;

        td {
            font-size: 1.25em;
            font-weight: 500;
        }
    }
}
