.mat-table {
    width: 100%;

    table {
        width: 100%;

        button.mat-mini-fab {
            margin-left: 1em;
        }
    }
}

tr.team-detail-row {
  height: 0;
}

tr.team-row.team-expanded-row,
tr.team-detail-row {
    background-color: lightyellow;
}

tr.team-row:hover {
    background-color: lightskyblue;
  }
  
.team-row td {
  border-bottom-width: 0;
}

.team-detail {
  overflow: hidden;
  display: flex;
}
