<mat-toolbar color="primary"
  class="fixed-top">
  <!-- <i class="fas fa-egg"></i> -->
  <fa-icon [icon]="faEgg"></fa-icon>
  <h1>Das rennende Osterei</h1>

  <span class="spacer"></span>

  <div *ngIf="isAdmin">
    <a mat-mini-fab color="" href="/">
      <fa-icon [icon]="faHome" title="Startseite"></fa-icon>
    </a>

    <button *ngIf="false" mat-mini-fab color=""
      (click)="changeSettings()">
      <fa-icon [icon]="faSlidersH" title="Einstellungen"></fa-icon>
    </button>

    <button *ngIf="false" mat-mini-fab color="">
      <fa-icon [icon]="faUser" title="Spieler"></fa-icon>
    </button>

    <input #fileUpload
      type="file"
      class="file-input"
      (change)="onFileSelected($event)">
    <button mat-mini-fab color=""
      (click)="fileUpload.click()">
      <fa-icon [icon]="faUsers" title="Teams hochladen"></fa-icon>
    </button>

    <button mat-mini-fab color=""
      (click)="downloadResults()">
      <fa-icon [icon]="faListOl" title="Ergebnis herunterladen"></fa-icon>
    </button>
  </div>

  <div *ngIf="!isAdmin">
    <a mat-mini-fab color="" href="/admin">
      <fa-icon [icon]="faTools" title="Admin-Bereich"></fa-icon>
    </a>
  </div>
</mat-toolbar>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
